body{
    background-color: aquamarine;
}
#navbar{
    height: 60px;
    width: 100%;
    background-color: darkcyan ;
}
*{
    margin: 0px;
    padding: 0px;
}
#logo img{
    height: 50px;
    width: 50px;
    
}
#logo, #nav, #login_register{
    display: inline-block;
}
#login_register{
    float: right;
}
#logo, #nav{
    float: left;
}
#nav a, #login_register a{
    color: white;
}
#nav{
    width: 200px;
    background-color:rgb(214, 205, 230);
    margin-left: 256px;
    margin-top: 10px;
}
#nav a{
    color: black;
}

#login_form{
    background-color: rgba(44, 44, 235, 0.068);
    border: 1px solid gray;
    justify-content: center;
    display: flex;
    
    margin-top: 100px;
    padding: 20px;
    width: 200px;
    align-items: center;
}
#login_form input{
    margin-bottom: 10px;
}
#login_btn{
    padding: 10px;
    background-color: rgb(161, 131, 189);
}


.product_container{
    border: 1px solid rgb(44, 40, 40);
    width: 70%;
    padding: 10px;
}
.product{
    height: 300px;
    width: 200px;
    display: inline-block;
    background-color: rgb(152, 224, 224);
    border: 1px solid black;
    padding: 20px;
    border-radius: 15px;
    margin-left: 10px;
    box-shadow: 10px 10px rgb(153, 143, 123);
}
.content_title{
    display: inline-block;
    background-color: rgb(233, 218, 218);
    display: flex;
    justify-content: center;
    align-items: center;
}
.add_to_cart_btn{
    padding: 20px;
    color: blue;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    background-color: aliceblue;
    width: 100%;
}
.product img{
    height: auto;
    width: 120px;
}


        .container{
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #register_form{
            padding: 20px 30px;
            border: 1px dashed black;
            background-color: white;
        }

        label{
            display: block;
            margin-bottom: 10px;
        }

        input[type="text"],
        input[type="email"],
        input[type="password"]{
            width: 100%;
            padding: 6px;
            margin-top: 5px;
        }

        .terms{
            margin-top: 10px;
        }

        input[type="submit"]{
            margin-top: 15px;
            padding: 8px 15px;
            cursor: pointer;
        }

        #firstname_error, #lastname_error, #email_error, #password_error{
            color: rgb(241, 9, 9);
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 18px;
        }